*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $text-font-primary;
  font-weight: 400;
  font-size: 16px;
  color: $text-color-primary;
  background-color: $background-color;
  margin: 0;
}

.wrapper {
  max-width: 1140px;
  margin: 0px auto;
  padding: 70px $page-side-padding;

  @include size(lg) {
    max-width: 960px;
  }

  @include size(md) {
    max-width: 720px;
  }

  @include size(sm) {
    max-width: 540px;
  }

  @include size(xs) {
    width: 100%;
  }
}