// Page backgrounds colors
$background-color: #FFFFFF;

// Page side spaces
$page-side-padding: 30px;

// Page fonts
$text-font-primary: 'Roboto', sans-serif;

// Texts colors
$text-color-primary: #212529;
$text-color-secondary: #b3b3b3;

// Alert style
$alert-bg-color: #FFFFFF;
$alert-border-color: #28a745;
$alert-secondary-border-color: #dc3545;
$alert-third-border-color: #2977f6;

// Buttons style
$button-primary-bg-color: #2977f6;
$button-primary-text-color: #FFFFFF;
$button-secondary-bg-color: #dc3545;
$button-secondary-text-color: #FFFFFF;
$button-third-bg-color: #28a745;
$button-third-text-color: #FFFFFF;


// Form style
$form-bg-color: #edf2f5;
$form-border-color: #e6edf1;
$form-border-error-color: #dc3545;
$form-text-color-primary: #495057;
$form-text-color-secondary: #b3b3b3;

// List style
$list-bg-color: #edf2f5;
$list-border-color: #e6edf1;
$list-text-color-primary: #495057;